body {
  margin: 0;
  background: #0b0f14;
  color: #00ff9f;
  font-family: Arial;
}

.container {
  padding: 20px;
}

h1 {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card {
  background: #111827;
  padding: 15px;
  border-radius: 10px;
  min-height: 300px;
  overflow-y: auto;
}